a {
  color: #207cf5;
  transition: all 0.2s;
  font-family: 'Inter', sans-serif;
  text-decoration: none;
}
a:hover {
  color: #0e40c9;
}
a:active {
  color: #0a2e91;
}
.btn-primary {
  display: inline-block;
  padding: 5 30 5 30;
  text-align: center;
  background-color: #15e896;
  border-radius: 10px;
  text-decoration: none;
  color: #fff;
  transition: all 0.3s;
}
.btn-primary:hover {
  background-color: #13b978;
  color: #fff;
}
.btn-secondary {
  display: inline-block;
  padding: 5 30 5 30;
  text-align: center;
  background-color: #777777;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  transition: all 0.3s;
}
.btn-secondary:hover {
  background-color: #5d5d5d;
  color: #fff;
}
.btn-blue {
  display: inline-block;
  padding: 5 30 5 30;
  text-align: center;
  background-color: #1662ff;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  transition: all 0.3s;
}
.btn-blue:hover {
  background-color: #124bc3;
  color: #fff;
}
p {
  font-family: 'Inter', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Inter', sans-serif;
}
.mds1{
  font-size: 30px;
  color: #4788ff;
}
.mds1:before {
  position: absolute;
  bottom: 110px;
  left: calc(50% - 30px);
  width: 60px;
  height: 5px;
  content: '';
  border-radius: 3px;
  background: #007eff;
}
.mds2{
  color:#fff;
  font-size:30px;
  background:#0070ff;
  border-radius:10px;
  text-align:center;
  padding: 5px 15px 5px 15px;
}
@media screen and (min-width: 700px){
.imgsdw{
  max-width: 100%;
  max-height: 100%;
  transition: 0.5s;
  border-radius:10px;
}
.imgsdw:hover{
  transform: translateX(-5px) translateY(-5px);
  filter: drop-shadow(5px 5px 10px rgba(0,0,0,0.5));
}
.imgsdw:active{
  transform: scale(0.95,0.95);
}
.ineimg{
  width:500px;
  height:300px;
  display:inline-block;
  margin: 0px 30px 70px 30px;
}
.imgsdw2{
  max-width: 100%;
  max-height: 100%;
  transition: 0.5s;
  border-radius:100px;
}
.imgsdw2:hover{
  border-radius:15px;
}
.imgsdw2:active{
  transform: scale(0.95,0.95);
}
.ineimg2{
  width:200px;
  height:200px;
  display:inline-block;
  margin: 0px 30px 70px 30px;
}
.iconback{
  width:100%;
}
.gamescr{
  width:500px;
  height:300px;
  display:inline-block;
  margin: 0px 30px 20px 30px;
}
}
@media screen and (max-width: 700px){
.imgsdw{
  max-width: 100%;
  max-height: 100%;
  transition: 0.5s;
  border-radius:10px;
}
.imgsdw:hover{
  transform: translateX(-5px) translateY(-5px);
  filter: drop-shadow(5px 5px 10px rgba(0,0,0,0.5));
}
.imgsdw:active{
  transform: scale(0.95,0.95);
}
.ineimg{
  width:90%;
  height:80%;
  display:inline-block;
  margin: 0px 5px -250px 5px;
}
.imgsdw2{
  max-width: 100%;
  max-height: 100%;
  transition: 0.5s;
  border-radius:100px;
}
.imgsdw2:hover{
  border-radius:15px;
}
.imgsdw2:active{
  transform: scale(0.95,0.95);
}
.ineimg2{
  width:100px;
  height:100px;
  display:inline-block;
  margin: 0px 30px 70px 30px;
}
.iconback{
  width:100%;
}
.gamescr{
  width:90%;
  height:80%;
  display:inline-block;
  margin: 0px 5px -200px 5px;
}
}
